{% load usdfilters %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>usd_filters</title>
</head>
<body>
    
    <center>
        <h1>usdfilters</h1>
        <h2>{{d}}</h2>
        <h2>In {{d}} vowels are {{d|vowel}}</h2>
        <h2>{{r}}</h2>
        <h2>{{r|remove:'oo'}}</h2>

        <h3>{{r|counting:'oo'}}</h3>






    </center>
    
</body>
</html>